body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
}

#container {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#pageScreen {
  width: 90%;
  height: 90%;
  background-color: white;
  outline: 10px solid black;
  outline-offset: 5px;
  z-index: 1;
  overflow: hidden;
}

#plus-button {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  width: 10vh;
  height: 10vh;
  background-color: rgb(1, 7, 200);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 5vh;
  cursor: pointer;
}

#plus-button:hover {
  background-color: #000040;
}

#objectGallery {
  width: 20%;
  height: 100%;
  background-color: blue;
  /*z-index: 1;*/
}

#gallerySquare{
  position: relative;
  width: 60%;
  padding-top: 60%;
  top: 10%;
  margin: 0 auto;
  background-color: red;
  /*z-index: 1;*/
}

.square{
  position: absolute;
  width: 20vh;
  height: 20vh;
  background-color: red;
  z-index: -1;
  cursor: move;
  resize: both;
  overflow: auto;
}

.hippo{
  position: absolute;
  width: 20vh;
  height: 20vh;
  z-index: -1;
  cursor: move;
  resize: both;
  overflow: auto;
}