body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

#container {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pageScreen {
  width: 90%;
  height: 90%;
  background-color: white;
  border: 5px solid darkblue;
  z-index: 1;
}

#plus-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}

#plus-button:hover {
  background-color: #000040;
}

#objectGallery {
  width: 20%;
  height: 100%;
  background-color: blue;
  /*z-index: 1;*/
}

#gallerySquare{
  position: relative;
  width: 60%;
  padding-top: 60%;
  top: 10%;
  margin: 0 auto;
  background-color: red;
  /*z-index: 1;*/
}

.square{
  position: absolute;
  width: 20vh;
  height: 20vh;
  background-color: red;
  z-index: -1;
  cursor: move;
  resize: both;
  overflow: auto;
}